.repo-list h2 {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px;
  background: rgb(139, 185, 255);
}
.repo-list h2:hover {
  cursor: pointer;
  background: rgb(178, 208, 255);
}
.repo-list span {
  margin-right: 5px;
}

.gazebox {
  display: inline-block;
  border: 1px solid black;
  min-width: 300px;
  min-height: 50px;
  padding: 10px;
  background: grey;
  color: white;
  font-family: monospace;
}
.gazebox a {
  color: rgb(103, 255, 134);
}

input {
  display: block;
}